@font-face {
    font-family: "Akzidenz-Grotesk Pro Mid";
    src: url("../font/AkzidenzGroteskPro-Md.woff2") format("woff2"),
    url("../font/AkzidenzGroteskPro-Md.woff") format("woff"),
    url("../font/AkzidenzGroteskPro-Md.ttf") format("ttf");
}

@font-face {
    font-family: "Akzidenz-Grotesk Pro Light";
    src: url("../font/AkzidenzGroteskPro-Light.woff2") format("woff2"),
    url("../font/AkzidenzGroteskPro-Light.woff") format("woff"),
    url("../font/AkzidenzGroteskPro-Light.ttf") format("ttf");
}

.pt-mono {
    font-family: 'PT Mono', monospace;
    font-weight: bold
}

.akzidenz-mid {
    font-family: "Akzidenz-Grotesk Pro Mid", sans-serif;
}

.akzidenz-light {
    font-family: "Akzidenz-Grotesk Pro Light", sans-serif;
}

header {
    padding: 32px 0;
    background: #EDFBF4;
}

.header-top ul li:first-child {
    margin-right: 32px;
}

.header-top .link {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.get-started {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: #4DD795;
    border-radius: 3px;
    padding: 6px 22px;
    border: 1px solid #4DD795;
    transition: all 0.3s;
}

.get-started:hover {
    transition: 0.3s;
    color: #4DD795;
    background: #fff;
}

.header-bottom .title {
    font-size: 48px;
    line-height: 54px;
    color: #000000;
    font-weight: bold;
}

.header-bottom .subtitle {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    font-weight: 600;
}

.header-bottom {
    padding-top: 56px;
    padding-bottom: 133px;
}

.header-bottom .get-started {
    padding: 15px 22px;
}

.user-stories {
    padding-top: 130px;
    padding-bottom: 130px;
}

.user-stories .section-title {
    margin-bottom: 45px;
}

.section-title {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

section.testimonial {
    background: rgba(77, 215, 149, 0.1);
    padding-top: 142px;
    padding-bottom: 142px;
}

.testimonial-photo img:nth-child(1) {
    position: relative;
    z-index: 2;
}

.testimonial-photo img:nth-child(2) {
    position: relative;
    margin-left: -60px;
    z-index: 1;
}

.coming-soon {
    padding-top: 208px;
    padding-bottom: 208px;
}

.coming-soon form input {
    width: 70%;
    border: 1px solid rgba(196, 196, 196, 0.7);
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    font-size: 24px;
    line-height: 31px;
    padding: 12px 16px;
    height: 56px;
}

.coming-soon form input[type="submit"] {
    width: 30%;
    background: #4DD795;
    border-radius: 0px 3px 3px 0px;
    border-color: #4DD795;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    padding: 12px 20px 12px 27px;
    height: 56px;
}

footer {
    padding: 185px 0 56px 0;
    background: rgba(0, 0, 0, 0.8);
}

.user-stories-title {
    margin-top: 25px;
}

.coming-soon .subtitle {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    font-weight: bold;
}

.coming-soon .title {
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    font-weight: bold;
}

p.testimonial {
    font-size: 32px;
    line-height: 41px;
    color: #000000;
}

p.names {
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    font-weight: bold;
}

p.position {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

@media screen and (max-width: 1199px) {
    .testimonial-photo img {
        max-width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .header-bottom .title,
    .section-title,
    p.testimonial,
    .coming-soon .title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 579px) {
    .testimonial-photo img {
        max-width: 50%;
    }

    .testimonial-photo img:nth-child(2) {
        margin-left: -10%;
    }

    .header-bottom .title,
    .section-title,
    p.testimonial,
    .coming-soon .title {
        font-size: 24px;
        line-height: 30px;
    }

    .header-bottom .subtitle {
        font-size: 16px;
        line-height: 24px;
    }

    section.testimonial {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .user-stories {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header-bottom {
        padding-bottom: 50px;
    }

    .coming-soon {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header-bottom img {
        margin-top: 25px;
        width: 100%;
    }

    .header-bottom .get-started {
        width: 100%;
        justify-content: center;
    }

    footer img {
        width: 100%;
    }

    .coming-soon form input,
    .coming-soon form input[type="submit"] {
        width: 100%;
    }

    .coming-soon form input[type="submit"] {
        margin-top: 25px;
    }

    .coming-soon form input {
        font-size: 16px;
    }
}